.bg-header{
    height: 91vh;
    
}

.wave1{
    background-image: url(/src/assets/wave2.svg);
    width: 100%;
    height: 8vh;
}

.wave2{
    background-image: url(/src/assets/wave.svg);
    width: 100%;
    height: 8vh;
}